.aside {
    width: 100%;
    &-cta {
        width: 100%;
        max-width: 683px;
        padding: 47px 50px;
        box-shadow: 0 3px 9px rgba(24, 24, 24, 0.14), inset 0 0 29px rgba(24, 24, 24, 0.18);
        border-radius: 10px;
        border: 3px solid #f6a11a;
        background-color: #ffffff;
        margin: 0 auto 22px;
        &-title {
            font-size: 32px;
            font-weight: bold;
            line-height: 29.26px;
            color: #f6a11a;
            letter-spacing: -1.05px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
        &-subtitle {
            font-size: 32px;
            font-weight: bold;
            line-height: 29.26px;
            color: #000;
            letter-spacing: -1.05px;
            margin-top: 0;
            margin-bottom: 12px;
            text-align: center;
        }
        &-text {
            color: #2d3134;
            font-size: 16px;
            font-weight: normal;
            line-height: 19.2px;
            letter-spacing: 0.36px;
            margin-top: 0;
            margin-bottom: 18px;
            text-align: center;
        }
        &-button {
            display: block;
            width: 100%;
            height: 43px;
            border-radius: 21px;
            background-color: #f6a11a;
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    &-social {
        width: 100%;
        max-width: 683px;
        min-height: 80px;
        border-radius: 10px;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        padding: 23px 28px;
        margin: 0 auto 22px;
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &-item {
            margin-right: 8px;
            &:last-of-type {
                margin-right: 0;
            }
            span {
                color: #000000;
                font-size: 20px;
                font-weight: 200;
                margin-right: 5px;
            }
            &-link {
                display: block;
                width: 34px;
                height: 34px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &-posts {
        width: 100%;
        max-width: 683px;
        border-radius: 10px;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        padding: 28px 28px 5px;
        margin: 0 auto;
        &-title {
            color: #000000;
            font-size: 20px;
            font-weight: 200;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 26px;
        }
        &-item {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 23px;
            border-top: 1px solid #ebebeb;
            span {
                color: #000000;
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
                letter-spacing: 0.32px;
            }
            a {
                color: #59b446;
                text-decoration: none;
                display: inline-block;
                width: 12px;
                height: 10px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .aside {
        &-cta {
            padding: 40px;
            &-title {
                font-size: 30px;
                line-height: 30px;
            }
            &-subtitle {
                font-size: 30px;
                line-height: 30px;
            }
            &-text {
                width: 100%;
                max-width: 467px;
                margin: 0 auto 18px;
                font-size: 16px;
                line-height: 20px;
            }
            &-button {
                height: 43px;
                border-radius: 21px;
                font-size: 22px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 991px) {
    .aside {
        &-cta {
            padding: 83px 88px;
            &-title {
                font-size: 55px;
                line-height: 50.71px;
            }
            &-subtitle {
                font-size: 55px;
                line-height: 50.71px;
            }
            &-text {
                width: 100%;
                max-width: 467px;
                margin: 0 auto 18px;
                font-size: 29px;
                line-height: 33.28px;
            }
            &-button {
                height: 74px;
                font-size: 41px;
                line-height: 74px;
                border-radius: 36px;
            }
        }
        &-social {
            padding: 40px 48px;
            &-item {
                margin-right: 14px;
                span {
                    font-size: 35px;
                    margin-right: 12px;
                }
                &-link {
                    width: 59px;
                    height: 59px;
                }
            }
        }
        &-posts {
            padding: 46px 46px 5px;
            &-title {
                font-size: 35px;
                line-height: 41.59px;
            }
            &-item {
                span {
                    font-size: 26px;
                    line-height: 34.66px;
                    a {
                        width: 21px;
                        height: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .aside {
        &-cta {
            padding: 25px;
            &-title {
                font-size: 35px;
                line-height: 35px;
            }
            &-subtitle {
                font-size: 35px;
                line-height: 35px;
            }
            &-text {
                width: 100%;
                max-width: 300px;
                margin: 0 auto 18px;
                font-size: 18px;
                line-height: 22px;
            }
            &-button {
                height: 44px;
                font-size: 26px;
                line-height: 41px;
                border-radius: 25px;
            }
        }
        &-social {
            padding: 20px;
            &-item {
                margin-right: 8px;
                span {
                    font-size: 18px;
                    margin-right: 4px;
                }
                &-link {
                    width: 34px;
                    height: 34px;
                }
            }
        }
        &-posts {
            padding: 25px 25px 5px;
            &-title {
                font-size: 28px;
                line-height: 32px;
            }
            &-item {
                span {
                    font-size: 16px;
                    line-height: 20px;
                    a {
                        width: 12px;
                        height: 10px;
                    }
                }
            }
        }
    }
}