.footer {
    margin-top: 88px;
    &-cta {
        width: 100%;
        min-height: 126px;
        padding: 40px 15px;
        background-color: #f3f3f3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .cta-text {
            margin-right: 20px;
        }
    }
    &-copyright {
        width: 100%;
        height: 66px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &-text {
            color: #b8b8b8;
            font-size: 15px;
            font-weight: 200;
            line-height: 41.79px;
        }
    }
}