.main {
    .hero {
        width: 100%;
        height: 392px;
        padding-top: 180px;
        background-color: #f5f5f5;
        background-image: url(../images/header_img.png);
        background-repeat: no-repeat;
        background-size: 1080px 392px;
        background-position: center right;
        margin-bottom: 44px;
        &-title {
            color: #59b446;
            font-size: 53px;
            font-weight: 200;
            line-height: 57px;
            letter-spacing: -0.8px;
            margin-bottom: 3px;
            margin-top: 0;
        }
        &-subtitle {
            color: #231f20;
            font-size: 29px;
            font-weight: normal;
            line-height: 31.01px;
            margin-top: 0;
        }
    }
    .breadcrumbs {
        padding-top: 92px;
        margin-bottom: 21px;
        font-size: 12px;
        font-weight: 200;
        line-height: 43px;
        color: #2b1e1c;
        letter-spacing: 0.24px;
        .main {
            color: #2b1e1c;
            text-decoration: underline;
            &:hover {
                color: #2b1e1c;
                text-decoration: underline;
            }
        }
        .current {
            color: #59b446;
            text-decoration: none;
            &:hover {
                color: #59b446;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1919px) {
    .main {
        .hero {
            height: 235px;
            padding-top: 100px;
            background-size: 647px 235px;
        }
    }
}


@media (max-width: 991px) {
    .main {
        .hero {
            height: 500px;
            background-image: url(../../images/hero_bg_mobile.png);
            background-size: cover;
            background-position: center bottom;
            padding-top: 122px;
            &-title {
                font-size: 63px;
                text-align: center;
            }
            &-subtitle {
                text-align: center;
                font-size: 34px;
            }
        }
    }
}

@media (max-width: 575px) {
    .main {
        .hero {
            height: 400px;
            background-position-x: 50%;
            padding-top: 80px;
            &-title {
                font-size: 32px;
                line-height: 36px;
                text-align: center;
            }
            &-subtitle {
                text-align: center;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: 320px) {
        .main {
        .hero {
 
            &-title {
                font-size: 28px;
                line-height: 32px;
                
            }
            &-subtitle {
                
                font-size: 20px;
                line-height: 24px
            }
        }
    }
}